<div class="container-fluid">
  <div class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          {{link-to "Home" 'tokens' classNames="navbar-link"}}
        </li>
      </ul>
    </div>
  </div>
</div>
{{yield}}
