{{page-elements.header-element}}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2 id="title">OpenLibrary Visualization with D3 (v4)</h2>
    </div>
  </div>
</div>
{{outlet}}
<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="https://github.com/palmergs">Source</a>
      </div>
    </div>
  </div>
</footer>
