<div class="container">
  <div class="row">
    <div class="eight columns">
      <table class="table">
        <tbody>
          {{#each model as |edition|}}
            <tr>
              <td>{{edition.title}}</td>
              <td>{{edition.subtitle}}</td>
              <td>{{edition.publishDate}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="four columns">
      {{outlet}}
    </div>
  </div>
</div>
