<div class="container">
  <div class="row">
    <div class="nine columns">
      <div class="token-comparison">
        {{#if fieldNames}}
          {{charts.n-timeline-chart path=path fieldNames=fieldNames loading=(action 'setLoading')}}
          <label class="centered">Comparison of {{ fieldNames }}</label>
        {{else}}
          <p>Please enter some search terms (comma delimited) to visualize.</p>
        {{/if}}
      </div>
    </div>
    <div class="three columns">
      <label>Tokens (comma delimited)</label>
      {{one-way-input q 
          keyEvents=(hash 13=(action "setTokens") 27=(action "resetTokens")) 
          classNames="u-full-width" 
          placeholder="enter terms to search"}}
    </div>
  </div>
  <div class="row">
    <div class="nine columns">
      <h4>About this project.</h4>
      <p>The data displayed in this app is from the OpenLibrary.com project. The 47 million records available&mdash;authors, works and editions&mdash;were broken out into tokens (ASCII normalized) from the entry titles, subtitles, author names, user descriptions and content excerpts.</p>
      <h4>Future enhancements</h4>
      <ul>
        <li>allow for visualization by record type (e.g. only compare author names over time)</li>
        <li>allow for visualization by category (e.g. only compare user descriptions)</li>
        <li>allow for different start and end years</li>
        <li>UI/UX enhancements: loading indicators, chart legends, transition effects</li>
        <li>allow chart to toggle between linear and logarithmic scale</li>
      </ul>
    </div>
  </div>
</div>
