<div class="container">
  <div class="row">
    <div class="nine columns">
      {{page-elements.token-comparison params=model }}
    </div>
    <div class="three columns">
      <label>Tokens</label>
      <input class="u-full-width" type="text" placeholder="enter terms to search">
    </div>
  </div>
</div>
