<div class="container">
  <div class="row">
    <div class="eight columns">
      <div class="loading"></div>
      <label class="centered">Circle Spinner by <a href="http://loading.io">loading.io</a></label>
    </div>
  </div>
</div>
{{yield}}
